<link rel="stylesheet" href="/css/footer.css">

<!--Social Liks codings below-->
<a id="source-link" class="meta-link" href="https://linktr.ee/sam_virat" target="_blank">
    <i class="fas fa-link"></i>
    <span class="roboto-mono">Connect and know more</span>
</a>