<link rel="stylesheet" href="/css/header.css">

<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/">Placement Cell</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="/students/add-new">Students</a></li>
                <li><a href="/interviews/add-new">Interviews</a></li>
                <li><a href="#">Job Portal</a></li>
                <li><a href="#">Download Report</a></li>
            </ul>
        </div>
        <div class="userAuth">
            <ul>
                <% if (locals.user) { %>
                    <li>
                        <img src="<%= locals.user.avatarPath %>" alt="">
                        <a href="/user/profile/<%= locals.user._id %>"><%= locals.user.username %></a>
                    </li>
                <% } %>
                <li><a href="/auth/signOut">Log Out</a></li>
            </ul>
        </div>
        
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

<script src="/js/header.js"></script>
